<!-- Here's index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Project Falco!</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
	<div>Sample Text </div> 
	{% if error %} <div style="color:red"> {{ error.msg }} </div> {% endif %}
	<form>
		<select>
			{% for spot in locations %}
				<option value="{{ spot }}">{{spot}}</option>
			{% end for %}
		</select>
		<input type="text"><br>
		<select>
			{% for spot in locations %}
				<option value="{{ spot }}">{{spot}}</option>
			{% end for %}
		</select>
		<input type="text"><br>
		<button>Submit</button>
	</form>
</body>
