<!-- Here's index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Project Falco!</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

</head>

<body>
	<h1>Project Falco</h1>
	<p>You know how Google Maps is great <i>outside</i>?
		Just imagine if you had Google Maps <i>inside</i>!
		<br>
		Just remember, this is a proof-of-concept developed for HackOHI/O 2017.
		Because of the time limit, only three maps (Smith Lab basement/1st floor
		and Scott Lab 1st floor) are implemented.
	</p>
	<p></p>
	{% if error %} <div style="color:red"> {{ error.msg }} </div> {% endif %}
	<form action="" method="post">
		<table>
			<thead>
				<th>Location</th>
				<th>Room Number</th>
			</thead>
			<tbody>
			<tr>
			<td><select name="origin-select">
				{% for loc in locations %}
					<option value="{{ loc.addr }}">{{ loc.name }}</option>
				{% endfor %}
			</select></td>
			<td><input type="text" name="origin-room"><br></td>
			</tr><tr><td>
			<select name="destination-select">
				{% for loc in locations %}
					<option value="{{ loc.addr }}">{{ loc.name }}</option>
				{% endfor %}
			</select></td><td>
			<input type="text" name="destination-room"><br></td></tr>
			<tr><td>
			<button style="background-color:#1565C0;color:white; font-weight:bold;width:100%;">Submit</button></td></tr></tbody>
		</table>
	</form>
</body>
